.unity-list-view__item {
    padding: 0;
    background-image: url('project://database/Assets/Sprites/kenney_ui-pack-space-expansion/PNG/squareBlue.png?fileID=21300000&guid=aa066efb61ead2d42b077a34f522ae97&type=3#squareBlue');
    color: rgb(255, 255, 255);
    -unity-font: url('project://database/Assets/Fonts/Rajdhani/Rajdhani-SemiBold.ttf?fileID=12800000&guid=2709f68c597336e469a179a667440649&type=3#Rajdhani-SemiBold');
    -unity-font-definition: initial;
    font-size: 12px;
}
